.title{
  font-family: serif;
  display: inline-block;
}
.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;

}
<script>
function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59

    if(h == 0){
        h = 12;
    }

    if(h > 12){
        h = h - 12;
    }

    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;

    var time = h + ":" + m + " ";
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;

    setTimeout(showTime, 1000);
}

showTime();
</script>
.date{
  text-align: center;
  font-family: serif;
}
.datebtn {
  width: 2%;
  height: 2%;
  display: inline-block;
}
.topsection {
  padding-left:580px;
  padding-top: 50px;
}

.todo{
  height: 187px;
  width: 187px;
  margin-right: 5.5px;
  margin-left: 5.5px;
  margin-bottom: 5.5px;
  margin-top: 5.5px;
  border: 1px solid;
}

.footer {
  color: blue;
}
.settingsbtn {
  width:2%;
  height: 2%;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li {

}
