.daily {
  color: red;
  font-size: 12px;
  font-family: sans-serif;
}
.footer {
  color: blue;
}
.settingsbtn {
  width:2%;
  height: 2%;
}
.datebtn {
  width: 2%;
  height: 2%;
  display: inline-block;
}
.title {
  display: inline-block;
}
